*{
	color: black !important;
	background: #C98F8F !important;
}

#annolet-header,#annolet-tools-menu,.annolet-menu-item
{
	background-color: #2b849c !important;
}

.annolet-menu-sub-item{
	background: #fff !important;
}

.select-tools-menu{
	background: #fff !important;
}






