html
{
	-webkit-filter: invert(100%);
	-moz-filter: invert(100%);
	-o-filter: invert(100%);
	-ms-filter: invert(100%);
}

#annolet-header,#annolet-tools-menu,.annolet-menu-item,
.annolet-menu-sub-item, .select-tools-menu{
	-webkit-filter: invert(0%);
	-moz-filter: invert(0%);
	-o-filter: invert(0%);
	-ms-filter: invert(0%);
}





